.App {
  text-align: center;
}

.BackgroundHeader{
  background: linear-gradient(to  left, #0033CC, transparent),
  linear-gradient(to  right,#00CCFF, transparent);

}

.FiltersContainer{
  width:90%;
  margin:auto;
  height:100px;

  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:20px;
  margin-bottom:20px;
  border-top-right-radius:10px;
  border-top-left-radius:10px

}